@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}
.flex {
  display: flex;
  align-items: center;
}
.center{
    text-align: center;
}
.none{
    display: none;
}

/* header style */
.header {
  max-width: 1440px;
  margin: 0 auto;
}
/* navbar style */
.navbar {
  justify-content: space-between;
  padding: 20px 140px;
}
.nav-links {
  gap: 32px;
}
.logo-title {
  color: rgb(17, 17, 17);
  font-size: 32px;
  font-weight: 700;
  margin-left: 11px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
#home {
  color: rgb(254, 163, 1);
  font-weight: 700;
}
#about {
  color: rgb(1, 172, 253);
}
#facilities {
  color: rgb(5, 212, 223);
}
#admission {
  color: #5d58ef;
}
.nav-btn {
  border: none;
  background: orange;
  padding: 10px 61px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  transition: background .5s;
}
.nav-btn:hover{
    background: #01ACFD;
}
.hamburger{
    display: none;
}
.hamburger > i{
    font-size: 2rem;
    font-weight: 600;
}
/* hero section styles */
.hero{
    justify-content: space-between;
    padding: 0 140px;
}
.hero-content{
    max-width: 640px;
}
.hero-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
#empower{
    color: orange;
}
#vision{
    color: #01ACFD;
}
.hero-description{
    font-size: 1.25rem;
    color: black;
    margin-bottom: 1.5rem;
}
.hero-btn{
    border: none;
    background: black;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 12px;
    padding: 10px 47px;
    cursor: pointer;
    transition: background 1s;
}
.hero-btn:hover{
    background: linear-gradient(to left, #01ACFD, orange, #5D58EF);
}

/* main styles */
/* section - 1 styles */
.curriculum-section{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 140px;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-title{
    text-align: center;
    padding-top: 60px;
    font-size: 2.85rem;
    font-weight: 700;
}
/* all curriculum cards style */
.curriculum-card{
    margin: 80px 0;
    justify-content: space-between;
}
.card{
    width: 367px;
    text-align: center;
    border-radius: 18px;
    padding: 52px 40px;
    box-shadow: 0 0 28px 1px rgba(0, 0, 0, 0.05) inset;
}
.card-img{
    height: 142px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
    margin: 32px 0;
}
.card-description{
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 33px;
    color: #808080;
    margin-bottom: 34px;
}
.card-link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}
/* individual card style */
#card1{
    background: linear-gradient(0deg, white 70%, #DEF5FF);
    border: 1px solid #DEF5FF;
}
#card2{
    background: linear-gradient(0deg, white 70%, #FFF4DC);
    border: 0.94px solid #FFF4DC;
}
#card3{
    background: linear-gradient(0deg, white 70%, #F2E8FF);
    border: 0.94px solid #F2E8FF;
}
#card1 > a{
    color: #64C8FF;
}
#card2 > a{
    color: #F0AA00;
}
#card3 > a{
    color: #8700FF;
}
.arrow-btn{
    gap: 10px;
    justify-content: center;
    margin-bottom: 60px;
}
.left-arrow, .right-arrow{
    background: orange;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .5s;
}
.left-arrow:hover{
    background: #01ACFD;
}
.right-arrow:hover{
    background: #01ACFD;
}

/* section - 02 styles */
.stories-section{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 140px;
    background: url(../assets/bg.png), linear-gradient(to bottom, #FFFFFF, rgba(254, 163, 1, 0.3));
    background-repeat: repeat;
    background-position: center;
    background-size: 100% auto; 
}
.stories-card{
    gap: 19px;
    margin: 80px 0;
}
.story1-card{
    background: #fff;
    border-radius: 16px;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.story1-card > img{
    border-radius: 16px 16px 0 0;
}
.story1-content{
    padding: 0 0 34px 38px;
}
#story1-btn{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 18px;
    border-radius: 48px;
    background: #3CD8E8;
    border: none;
    position: absolute;
    top: 49%;
    font-family: "Raleway", serif;
}
.story1-title{
    width: 463px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 38px;
    margin: 58px 0 50px 0;
}
.story1-description{
    width: 433px;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    color: #666666;
}

/* story 2 style */
.story2-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
}
.story2-card{
    border-radius: 16px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.story2-card > img{
    border-radius: 16px 16px 0 0;
}
.story-title{
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    padding: 0 38px 28px;
    margin-top: 33px;
}
.story2-btn{
   border: none;
   background: #95B226;
   color: #fff;
   padding: 10px 18px;
   border-radius: 48px;
   position: absolute;
   top: 53%;
   left: 38px;
   font-family: "Raleway", serif;
}
.bg-blue{
    background: #5D58F0;
}
.extra-card{
    display: none;
}
.story-btn{
    background: #000;
    padding: 10px 60px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;
    transition: 1s;
}
.story-btn:hover{
    background: linear-gradient(to left, #01ACFD, orange, #5D58EF);
}

/* footer styles start*/
.footer{
    width: 1440px;
    padding: 123px 140px 174px;
    margin: 0 auto;
    background: #01ACFD;
    display: flex;
    justify-content: space-between;
}
.logo-container img{
    width: 81px;
    height: 81px;
}
.footer-logo-title{
    width: 200px;
    font-size: 2.7rem;
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
}
.footer-logo-description{
    width: 400px;
    font-size: 1.25rem;
    color: #fff;
    margin-top: 35px;
    line-height: 36px;
}
.footer-links-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 32px;
    color: #fff;

}
.footer-nav > li{
    list-style-type: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer-icon-title{
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 32px;
}
.footer-icons > img{
    margin-right: 10px;
    cursor: pointer;
}
/* responsive for small devices */
@media screen and (max-width: 576px) {
    .navbar {
        padding: 20px 16px;
        border-bottom: 0.5px solid rgb(254, 163, 1);
      }
      .nav-links, .btn, .logo-title,.story1-card{
        display: none;
      }
      .hamburger{
        display: block;
      }
      /* hero section */
      .hero{
        flex-direction: column-reverse;
        padding: 0 16px;
        margin-top: 30px;
      }
      .hero-img > img{
        width: 335px;
      }
      .hero-content{
        width: 357px;
        margin-top: 20px;
      }
      .hero-title{
        font-size: 2rem;
        text-align: center;
      }
      .hero-description{
        font-size: 14px;
        font-weight: 500;
        text-align: center;
      }
    .hero-button{
        text-align: center;
    }
      .hero-btn{
        font-size: 1rem;
        border-radius: 8px;
        padding: 6px 24px;
      }
      /* main responsive */
      .curriculum-section{
        padding: 0 16px;
    }
    .section-title{
        font-size: 1.65rem;
        padding-top: 40px;
    }
    .curriculum-card{
        flex-direction: column;
        gap: 12px;
        margin: 20px 0;
    }
    .arrow-btn{
        display: none;
    }
    /* story 2 */
    .stories-section{
        width: 100%;
        padding: 0 16px;
    }
    .stories-card{
        margin: 20px 0;
    }
    .story2-card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 11px;
        justify-items: center;
    }
    .story2-card{
        width: 100%;
    }
    .story2-card > img{
        width: 100%;
    }
    .story-title{
       font-size: 9px;
        font-weight: 700;
        line-height: 18px;
        padding: 0 22px 20px;
        margin-top: 22px;
    }
    .story2-btn{
        font-size: 9px;
       padding: 10px 18px;
       border-radius: 28px;
       top: 50%;
       left: 22px;
    }
    .extra-card{
        display: block;
    }
    .story-btn{
        padding: 10px 40px;
        font-size: 1.15rem;
        font-weight: 600;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    /* footer */
    .footer{
        width: 100%;
        padding: 65px 20px 60px;
        background: #01ACFD;
        flex-direction: column;
        gap: 32px;
    }
    .footer-logo{
        width: 250px;
    }
    .footer-logo-title{
        font-size: 2.25rem;
    }
    .footer-logo-description{
        font-size: 1rem;
        margin-top: 22px;
        line-height: 28px;
    }
    .footer-links-title{
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 32px;
    }
    .footer-nav > li{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 17px;
    }
    .footer-icon-title{
        font-size: 1.3rem;
        font-weight: 600;
    }
    .footer-icons > img{
        margin-right: 8px;
    }
}